<div>
  <h2 id="page-heading" data-cy="ApiKeyHeading">
    <span jhiTranslate="gatewayApp.apiKey.home.title">Api Keys</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gatewayApp.apiKey.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-api-key"
        [routerLink]="['/api-key/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.apiKey.home.createLabel"> Create a new Api Key </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="apiKeys?.length === 0">
    <span jhiTranslate="gatewayApp.apiKey.home.notFound">No apiKeys found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="apiKeys && apiKeys.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.apiKey.description">Description</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.apiKey.clientId">Client Id</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let apiKey of apiKeys; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/api-key', apiKey.id, 'view']">{{ apiKey.id }}</a>
          </td>
          <td>{{ apiKey.description }}</td>
          <td>{{ apiKey.clientId }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/api-key', apiKey.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/api-key', apiKey.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(apiKey)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
